.vs/
bin/
bin-int/

Crimson/vendor/physx_x64-windows/dll/
Crimson/vendor/physx_x64-windows/lib/

*.user


**/Makefile


# Ignore Visual Studio project files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.json
