.vs/
bin/
bin-int/

*.user

CMakeCache.txt
CMakeFiles/
CMakeConfigureLog.yaml
cmake_install.cmake
Makefile
*.cmake

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.json
build/

.DS_Store