[submodule "Crimson/vendor/spdlog"]
	path = Crimson/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Crimson/vendor/GLFW"]
	path = Crimson/vendor/GLFW
	url = https://github.com/ryan-mangeno/glfw
	branch = master
[submodule "Crimson/vendor/imgui"]
	path = Crimson/vendor/imgui
	url = https://github.com/ryan-mangeno/imgui
	branch = docking
[submodule "Crimson/vendor/Chroma"]
	path = Crimson/vendor/Chroma
	url = https://github.com/ryan-mangeno/Chroma
	branch = main
[submodule "Crimson/vendor/glm"]
	path = Crimson/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Crimson/vendor/ImGuizmo"]
	path = Crimson/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
	branch = master
[submodule "Crimson/vendor/yaml-cpp"]
	path = Crimson/vendor/yaml-cpp
	url = https://github.com/ryan-mangeno/yaml-cpp
	branch = master
[submodule "Crimson/vendor/assimp"]
	path = Crimson/vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "Crimson/vendor/mimalloc"]
	path = Crimson/vendor/mimalloc
	url = https://github.com/ryan-mangeno/mimalloc
[submodule "Crimson/vendor/PhysX-MacOS"]
	path = Crimson/vendor/PhysX-MacOS
	url = https://github.com/ryan-mangeno/Physx-MacOS.git
	branch = ApplePlatformPatches
